<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/styles/login.css}" rel="stylesheet">
    <title th:text="#{admin.title}">ADMIN PAGE</title>
</head>
<body th:style="'background-color: #f3efe8;'">
<header>
    <nav class="top-menu">
        <ul class="menu-main">
            <li class="left-item"><a th:href="@{'?lang=en'}">EN</a></li>
            <li class="left-item"><a th:href="@{'?lang=ru'}">RU</a></li>
            <li class="right-item"><a th:href="@{/admin}" th:text="#{main.menu.cabinet}"></a></li>
        </ul>
    </nav>

</header>
<div class="container">
    <section class="filterBar">
        <div class="search-ui">
            <label for="search" th:text="#{cabinet.search}"></label>
            <div class="search-container">
                <form action="">
                    <input class="search-input" type="text" placeholder="Search by user name or email address..."
                           name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>

    <table>
        <tr class="table-header">
            <th th:text="#{cabinet.username}">Username</th>
            <th th:text="#{cabinet.checkin}">Check in</th>
            <th th:text="#{cabinet.checkout}">Check out</th>
            <th class="roleHead" th:text="#{cabinet.people}">Number of guests</th>
            <th class="statusHead" th:text="#{cabinet.room}">Room</th>
            <th class="statusHead" th:text="#{cabinet.status}">Status</th>
        </tr>

        <tr th:each="reservation: ${orders}">
            <form th:action="@{/admin/{path}(path=${reservation.getId()})}" th:method="post" th:object="${orderRoom}">
                <td class="username" th:text="${reservation.getUserByUserId().getName()}"></td>
                <td class="email">
                    <a href="mailto:email@email.com" th:text="${reservation.getUserByUserId().getEmail()}"></a>
                </td>
                <td th:text="${reservation.getCheckIn()}"></td>
                <td th:text="${reservation.getCheckOut()}"></td>
                <td th:text="${reservation.getNumberOfSeats()}"></td>
                <th:block th:if="${reservation.getRoomId()}">
                    <td th:text="${reservation.getRoomId().getName()}">
                    </td>
                </th:block>
                <td th:unless="${reservation.getRoomId()}">
                    <select th:field="*{roomId}">
                        <option th:each="room: ${rooms.rooms}" th:text="${room.getName()}"
                                th:name="${room.getId()}" th:value="${room.getId()}"></option>
                    </select>
                </td>
                <td class="activeUser" th:text="${reservation.getStatus()}"><i class="fas fa-angle-down"></i></td>
                <th:block th:switch="${reservation.getStatus()}">


                    <td th:case="${reservation.getStatus().PENDING}">
                        <button class="yes-button blur-hover" type="submit">&#10004;</button>
                        <a class="no-button blur-hover" th:href="@{/admin/delete/{path} (path=${reservation.getId()})}">
                            &#10006;</a>
                    </td>
                </th:block>
            </form>
        </tr>

    </table>
</div>
<form th:action="@{/doLogout}" method="post">
    <input type="submit" th:value="#{cabinet.logout}">
</form>
</body>
</html>
