<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <title>Spring Security Example</title>
    <!--    <script type="text/javascript" th:src="@{/js/logout.js}"></script>-->

</head>
<body th:style="'background: url(/img/background.png) no-repeat; background-size: 100%;width: 100%;'">
<header>
    <nav class="top-menu">
        <ul class="menu-main">
            <div sec:authorize="!isAuthenticated()">
                <li class="left-item"><a th:href="@{'?lang=en'}">EN</a></li>
                <li class="left-item"><a th:href="@{'?lang=ru'}">RU</a></li>
                <li class="right-item"><a th:href="@{/registration}" th:text="#{main.menu.book}"></a></li>

            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="left-item"><a th:href="@{'?lang=en'}">EN</a></li>
                <li class="left-item"><a th:href="@{'?lang=ru'}">RU</a></li>
                <li class="right-item"><a th:href="@{/rooms}" th:text="#{main.menu.rooms}"></a></li>
                <li class="right-item"><a th:href="@{/cabinet}" th:text="#{main.menu.cabinet}">My orders</a></li>
                <li class="right-item"><a th:href="@{/order}" th:text="#{main.menu.book}"></a></li>
            </div>

        </ul>

    </nav>
</header>
<div id="overlay">
        <div id="text">
            <h2  th:text="#{main.welcome}"> </h2>
<!--            <a href="#" class="btn btn-primary btn-lg">Book Now</a>-->

        </div>

</div>
</body>
</html>
